#header {
    text-align: center;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 15px;
  }
  
  .borderSpacing {
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
  }